*{
    text-align: center;
}
.box-container{
    display:flex;
    justify-content: center;

}
.btn{
    height:100px;
    width:100px;
    border:7px solid black;
    border-radius: 15%;
    margin:5px;
}
.line-one{
    margin-right: 5px;
}
.red{
    background-color: #d95980;
}
.green{
    background-color:#63aac0  ;
}
.yellow{
    background-color:#f99b45 ;
}
.purple{
    background-color:#819ff9;
}
.gameflash{
    background-color: white;
}
.userflash{
    background-color: green;
}